.config/fish/fish_variables
.config/zed/prompts
Brewfile
.envrc.local
age.txt
home/dot_claude/private_debug
home/dot_claude/private_file-history
home/dot_claude/private_plans
home/dot_claude/private_plugins
home/dot_claude/private_projects
home/dot_claude/statsig
home/dot_claude/shell-snapshots
home/dot_claude/session-env
home/dot_claude/telemetry
home/dot_claude/private_todos
